.message-list {
  .message-list-panel {
    min-height: 300px;
  }

  .system {
    display: block;
    width: 100%;
    color: lightgray
  }

  .user.me .well {
    background-color: #1bc74e;
    span {
      color: #fff;
    }
  }
}
