.message-list {
  .system {
    display: block;
    width: 100%;
    color: lightgray
  }

  .user.me .well {
    background-color: #1bc74e;
    p {
      color: #fff
    }
  }

  .user.others .well {
  }

  .message-list-panel {
    min-height: 300px;
  }
}
