.message-list {
  .system {
    display: block;
    width: 100%;
    color: lightgray
  }

  .user.me .well {
    background-color: grey;
  }

  .user.others .well {
    background-color: aquamarine;
  }
}
