.message {
  span {
    display: block;
    text-align: left;
    word-wrap: break-word;
    white-space: pre-line;
  }

  .message-username {
    width: 100%;
    text-align: left;
    display: block;
  }
}
